<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="<%= group.publicUrl %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= group.name %>" />
    <meta property="og:description" content="<%= group.description %>" />
    <meta property="og:image" content="<%= group.logo %>" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@<%= group.twitterHandle %>" />
    <meta name="twitter:title" content="<%= group.name %>" />
    <meta name="twitter:description" content="<%= group.description %>" />
    <meta name="twitter:image" content="<%= group.logo %>" />

    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/build.css">
    <title><%= group.name %> - Open Collective </title>
  </head>
  <body>
    <div id="content"></div>

    <script src="/static/bundle.js"></script>
    <%if (showGA) { %>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-71870756-1', 'auto');
            ga('send', 'pageview');
        </script>
    <% } %>

  </body>
</html>
